<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Edit Item</h1>
    <!-- PUT -->
    <form action="/items/<%= item.id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= item.name %>" />
      <label for="description">Description:</label>
      <textarea name="description" id="description">
<%= item.description %></textarea
      >
      <label for="price">Price:</label>
      <input type="text" name="price" id="price" value="<%= item.price %>" />
      <button type="submit">Update Item</button>
    </form>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
