<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Menu Items</h1>
    <br />
    <a href="/items/new">Add New Item</a>
    <ul>
      <% items.forEach((item) => { %>
      <li>
        <strong><%= item.name %></strong>: <%= item.description %> - $<%=
        item.price %>
        <a href="items/<%= item.id %>/edit">Edit</a>
        <form
          action="/items/<%= item.id %>?_method=DELETE"
          method="POST"
          class="item-action-form"
        >
          <button type="submit" aria-label="Delete <%= item.name %>">
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
