<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/items/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Item Names:</br>
                    <input type="text" name="itemName" value="<%= locals.itemName %>" required>
                    
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>